body {
  padding-top: 80px;
}

.carousel-wrap {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
}

.slides-wrap {
  margin: 0 5px;
  display: flex;
  min-width: 440px;
  width: 100%;
  overflow-x: hidden;
}

.slides {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  white-space: nowrap;
  display: flex;
  transition: all 600ms linear 0s;
}

.slides > .slide {
  padding: 10px;
  margin: 0 7px;
  display: inline-flex;
  align-items: center;
  width: 300px;
  height: 200px;
  border: 1px solid #ABABAB;
  vertical-align: top;
}

.slides > .slide:first-child {
  margin-left: 5;
}

.slides > .slide:last-child {
  margin-right: 0;
}

.slides > .slide img {
  max-width: 100%;
  max-height: 100%;
}
